<html>
    <head>        
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
        <script src="index.js"></script>
    </head>
    <body>        
        <div id="raviapp">
          <p>{{name}}</p>
          <p v-if="name != 'RaviLoad'">Name updated !!!</p>
          <button v-on:click="changeName">Change</button>
          <button v-on:click="addElement">Add Element</button>
          <ul><li v-for="element in elements" v-bind:id="'el' + element" v-bind:style="{backgroundColor: getColor(element)}" >Element {{element}}</li></ul>
        </div>         
    </body>
</html>