<html>
    <head>        
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
        <script src="index.js"></script>
    </head>
    <body>        
        <div id="app">
          <input type="text" v-model="userInput">
          <button v-on:click="addTodo">Add Todo</button>
          <ul>
            <li v-for="todo in todos" v-on:click="removeTodo(todo)">{{ todo.value }}</li>
          </ul>
        </div>        
    </body>
</html>