<html>
    <head>        
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
        <script src="..\scripts\index.js"></script>
        <link type="text/css" rel="stylesheet" href="..\styles\index.css"/>
    </head>
    <body>        
        <div id="raviapp1">
          <app-username v-bind:username="'Ravi'"></app-username>
          <app-username v-bind:username="'Shankar'"></app-username>
          <p :class="{updated: name != 'RaviLoad' ? true:false}">{{name}}</p>
          <p v-if="name != 'RaviLoad'">Name updated !!!</p>
          <button @click="changeName">Change</button>
          <button @click="addElement">Add Element</button>
          <ul><li v-for="element in elements" :id="'el' + element" :style="{backgroundColor: getColor(element)}" >Element {{element}}</li></ul>
        </div>
        <div id="raviapp2">
            <p>{{message}}</p>    
        </div>    
    </body>
</html>